{% extends '@Invoices/Default/two_columns.html.twig' %}

{% block stylesheets %}
<style>
.outer-box{background-color: #EEEEEE;}
</style>
{% endblock %}


{% block col1 %}	

	{{ form_start(form, {'attr': {'class': 'text-left border border-light p-5 outer-box'}}) }}

	<p class="h4 mb-4">Insert a new invoice</p>

	{{ form_errors(form) }}

	{{ form_row(form.invoiceDate, {'attr': {'class': 'form-control mb-4'}}) }}

    <!-- Name -->
	{{ form_row(form.invoiceNumber, {'attr': {'class': 'form-control mb-4'}}) }}

    <!-- Name -->
	{{ form_row(form.customerId, {'attr': {'class': 'form-control mb-4'}}) }}


	<p class="h5 mb-4">Invoice data: </p>
    <!-- Name -->
	{{ form_row(form.invoiceData.description, {'attr': {'class': 'form-control mb-4'}}) }}

    <!-- Name -->
	{{ form_row(form.invoiceData.quantity, {'attr': {'class': 'form-control mb-4'}}) }}

    <!-- Name -->
	{{ form_row(form.invoiceData.amount, {'label': 'Amount (€)', 'attr': {'class': 'form-control mb-4'}}) }}

    <!-- Name -->
	{{ form_row(form.invoiceData.vatAmount, {'label': 'VAT %','attr': {'class': 'form-control mb-4'}}) }}

    <!-- Name -->
	{{ form_row(form.Add, {'label': 'Add to database', 'attr': {'class': 'btn btn-info btn-block'}}) }}

	{{ form_end(form) }}


{% endblock %}

{% block col2 %}
	
	{% if invoiceEntity is not null %}

		Inserted invoice: {{dump(invoiceEntity)}}
		
	{% endif %}

{% endblock %}